{% extends 'base.html' %}

{% block content %}
    <style>
        body {
            background-image: url("/static/other_background.jpg");
            background-size: cover;
        }
        #content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
        #content div {
            margin-bottom: 20px;
            text-align: center;
        }
        #content div img {
            width: 900px;
            height: auto;
        }
        #content div p {
            font-size: 20px;
            margin-top: 10px;
        }
        #content div p.cluster {
            font-weight: bold;
        }
    </style>

    <div id="content">
        <div>
            <img src="{{ url_for('static', filename='fuel.renault.png') }}" alt="Fuel Image">
        </div>
        <div>
            <img src="/static/1Renault.png" alt="Picture 1">
        </div>
        <div>
            <img src="/static/2Renault.png" alt="Picture 2">
        </div>
        <div>
            <img src="/static/3Renault.png" alt="Picture 3">
        </div>
        <div>
            <img src="/static/4Renault.png" alt="Picture 4">
        </div>
        <div>
            <img src="/static/5Renault.png" alt="Picture 5">
        </div>
        <div>
            <img src="/static/6Renault.png" alt="Picture 6">
        </div>
        <div>
            <img src="/static/7Renault.png" alt="Picture 7">
        </div>
        <div>
            <p class="cluster">About Cluster Number 0:</p>
            <p>
                Age is low to medium<br>
                Power in this cluster is in the lower half<br>
                Fuel type is diesel<br>
                Gearbox is manual<br>
                Mileage is from low to medium<br>
                Fuel consumption is low<br>
                CO2 emissions are medium<br>
                Price is low to medium<br>
            </p>
        </div>
        <div>
            <p class="cluster">About Cluster Number 1:</p>
            <p>
                Age of the cars is very high<br>
                Power is evenly distributed<br>
                Fuel type is diesel<br>
                Gearbox is mostly manual<br>
                Mileage is distributed from low to medium<br>
                Fuel consumption as well as CO2 emissions are in the lower part<br>
                Price is mostly lower<br>
            </p>
        </div>
        <div>
            <p class="cluster">About Cluster Number 2:</p>
            <p>
                Age of the cars is low to medium<br>
                Power is in the medium part<br>
                Fuel type is diesel<br>
                Gearbox is manual<br>
                Mileage is low<br>
                Fuel consumption as well as CO2 emissions are high<br>
                Price is in the higher part<br>
            </p>
        </div>
        <div>
            <p class="cluster">About Cluster Number 3:</p>
            <p>
                Age of the cars is low<br>
                Power is grouped in the medium part of the distribution with a tendency to high<br>
                Fuel type is diesel with a smaller share of gasoline<br>
                Gearbox is automatic<br>
                Mileage is low to medium<br>
                Fuel consumption is evenly distributed as well as CO2 emissions<br>
                Price is medium to very high<br>
            </p>
        </div>
        <div>
            <p class="cluster">About Cluster Number 4:</p>
            <p>
                Age is mostly low to medium<br>
                Power is medium with a tendency to high<br>
                Fuel type is diesel<br>
                Gearbox is automatic<br>
                Mileage is distributed from low to medium<br>
                Fuel consumption is low<br>
                CO2 emissions are medium<br>
                Price is medium<br>
            </p>
        </div>
        <div>
            <p>The price of the car in euros and its power are positively correlated in all clusters.</p>
        </div>
    </div>
{% endblock %}

